<div class="container">
  <header class="header">
    <div class="greeting-container">
        <span class="greeting">Hello, {{customerName}}</span>
        <img src="assets/images/LOGO-KT-1.webp" alt="Bank Logo" class="bank-logo">
    </div>
</header>
  <main>
      <div class="card-image-container">
        <h2 class="card-title">PERSONAL FINANCE</h2>
          <img src="assets/images/profile.png" alt="Home illustration" class="card-main-image">
      </div>
      <div class="card-content">
        <h3>Build your home. Together.</h3>
          <p class="card-text">
              Realize your dream with our exciting<br>
              financing with competitive rates.
          </p>
      </div>
    </main>
    <div class="cashback-promotion">
      <img src="assets/images/cashback.png"
           alt="Cashback Offer"
           class="cashback-image">
      <div class="promotion-text">
          <h5>Oh My Cashback is back!</h5>
          <p>Stand a chance to win cash<br>
          prize with our financing!</p>
      </div>
  </div>
  <nav class="bottom-nav">
    <button class="nav-button">
      <img src="assets/images/homeIcon.png" alt="Home" class="nav-icon">
    </button>
    <button class="nav-button">
      <img src="assets/images/profileIcon.png" alt="Profile" class="nav-icon">
    </button>
  </nav>

</div>

